
  :root{
    --clr-free:#00FF26;
    --clr-sold:#EF0B0B;
    --clr-reserved:#F8F35F;
    --clr-infra:#CFC3FF;
    --clr-hover-stroke:#1c3f94;
    --clr-ui:#2e4a8f;
  }
  *{box-sizing:border-box;}
	.py-80{padding: 80px 0;}
	.pt-120{padding-top: 120px;}
	.pt-60{padding-top: 60px;}
	.pb-60{padding-bottom: 60px;}
	.pb-90{padding-bottom: 90px;}
	.pt-140{padding-top: 140px;}
	.pb-120{padding-bottom: 120px;}
.section__title{color: #151515;letter-spacing: -0.03em;font-weight: 500;font-size: 48px;}
.-center{text-align: center;}


/*checkbox start*/
input[type=checkbox].custom-checkbox{display: none;}
input[type=checkbox].custom-checkbox + label{position: relative; padding-left: 34px; display: flex; align-items: center; gap: 10px;}
input[type=checkbox].custom-checkbox + label:before { content: ""; display: block; width: 24px; height: 24px; background: #fff; border: 4px solid #435E9D; box-shadow: none; transition: background ease .3s, border-color ease .3s; border-radius: 0; position: absolute; top: 0; left: 0; }

input[type=checkbox].custom-checkbox:checked + label:before {background: #435E9D; border: 2px solid #fff; outline: 4px solid #435E9D; width: 18px; height: 18px; left: 4px; top: 4px;}


input[type=checkbox].custom-checkbox + label:after { content: ""; display: none; position: absolute; top: 4px; left: 4px; width: 12px; height: 12px;}

input[type=checkbox].custom-checkbox:checked + label:after { display: block; }




.aviator .container { max-width: 1280px; width: 100%;}
.av-top{min-height: 680px; background-size: cover !important;}
	.av-top__row{display: flex; justify-content: space-between; position: relative; align-items: stretch;}
		.av-top__img{display: flex; flex-direction: column; gap: 14px;}
			.img-box{border: 2px solid #FFFFFF; height: 164px; width: 218px; overflow: hidden;}
			.img-box img{width: 100%; height: 100%; object-fit: cover;}
		.av-top__info{width: 50%; display: flex; flex-direction: column; justify-content: space-between;}
			.av-top__title{color: rgba(255, 255, 255, 0.8); font-size: 46px;}
			.av-top__title span{color: #FFFFFF;font-size: 120px;letter-spacing: -0.03em; line-height: 1;}
			.av-top__text{color: #FFFFFF;line-height: 1.3;font-size: 14px;}
.av-plan{padding-top: 102px;}
	.av-plan__top{padding-bottom: 36px;display: flex; gap: 20px; justify-content: space-between; align-items: center;}
		.av-plan__title{}
		.av-plan__logo{}
	.av-plan__map{margin: auto; text-align: center; position: relative;}


  .plot-map{ position:relative; width:100%; /*max-width:1000px;*/ margin:0 auto; aspect-ratio:1440 / 710; border-radius:8px; overflow:hidden; background:#0b0f14; user-select:none; }

  .plot-map__img{ position:absolute; inset:0; width:100%; height:100%; object-fit:contain; display:block; pointer-events:none; }


  .plot-map__svg{ position:absolute; inset:0; width:100%; height:100%; }

  .plot{ fill-opacity:.5; stroke:#ffffff; stroke-width: 0.1; cursor:pointer; transition:fill-opacity .15s ease, stroke-width .15s ease; vector-effect:non-scaling-stroke; }
  .plot:hover,
  .plot.is-hover{ fill-opacity:.8; stroke:var(--clr-hover-stroke); stroke-width:0.5; }
  .plot[data-status="free"]{ fill:var(--clr-free); }
  .plot[data-status="sold"]{ fill:var(--clr-sold); cursor:not-allowed; }
  .plot[data-status="reserved"]{ fill:var(--clr-reserved); }
  .plot[data-status="infra"]{ fill:var(--clr-infra); cursor:default; }


  .plot-tooltip{ position:fixed; z-index:20; pointer-events:none; background: #FFFFFF; color: #435E9D; font-size: 14px; line-height:1.3; padding: 5px 8px;  transform:translate(-50%,-130%); opacity:0; transition:opacity .1s ease; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); max-width: 250px; border-radius: 8px; text-align: left;}
  .plot-tooltip.is-visible{ opacity:1; }

/* modal */

  .modal{ position:fixed; inset:0; display:none; align-items:center; justify-content:center; background:rgba(15,20,30,.55); z-index:30; padding:16px; }
  .modal.is-open{ display:flex; }
	.modal__card{background:#fff; border-radius:0; width:100%; max-width:350px; padding:25px; position:relative; display: flex; flex-direction: column; gap: 13px;}
	.callback-modal .modal__card{max-width:450px;}
  .plot-modal__card{ background:#fff; border-radius:0; width:100%; max-width:350px; padding:25px; position:relative; display: flex; flex-direction: column; gap: 13px;}
	
.modal__top{display: flex; gap: 20px; align-items: center; justify-content: space-between;}
  .modal__close{ position:absolute; top:20px; right:20px; background: url('data:image/svg+xml,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="30" height="30" rx="15" fill="%23435E9D" fill-opacity="0.2"/><rect x="9.34326" y="7.92896" width="18" height="2" rx="1" transform="rotate(45 9.34326 7.92896)" fill="%23435E9D"/><rect x="7.92871" y="20.6569" width="18" height="2" rx="1" transform="rotate(-45 7.92871 20.6569)" fill="%23435E9D"/></svg>')no-repeat center center; width: 30px; height: 30px; display: block; border-radius: 50%; padding: 0; cursor: pointer;}
	.modal__close:hover{background: url('data:image/svg+xml,<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="30" height="30" rx="15" fill="%23435E9D" fill-opacity="1"/><rect x="9.34326" y="7.92896" width="18" height="2" rx="1" transform="rotate(45 9.34326 7.92896)" fill="%23fff"/><rect x="7.92871" y="20.6569" width="18" height="2" rx="1" transform="rotate(-45 7.92871 20.6569)" fill="%23fff"/></svg>')no-repeat center center;}
  .plot-modal__subtitle{position: relative; display: flex; align-items: center; gap: 8px; color: #2B2B2B; font-size: 14px; }


  .plot-modal__subtitle[data-status="free"]:before{content:''; background:#00FF26; display: block; width: 40px; height: 25px;}
  .plot-modal__subtitle[data-status="sold"]:before{content:''; background:#FF0000; display: block; width: 40px; height: 25px;}
  .plot-modal__subtitle[data-status="reserved"]:before{content:''; background:#F8F35F; display: block; width: 40px; height: 25px;}
	.plot-modal__subtitle[data-status="infra"]:before{content:''; background:#CFC3FF; display: block; width: 40px; height: 25px;}

  .plot-modal__title{ color: #2B2B2B; font-size: 18px;font-weight: 600;line-height: 1.3;}
	.modal__text{opacity: 0.8;color: #2B2B2B; font-size: 14px;line-height: 1.3}


  .plot-modal__text{font-size: 14px; color: #2B2B2B; opacity: 0.8; line-height: 1.3;}
	.plot-modal__text span{color: #2B2B2B;opacity:1; margin-left: 7px;}
	.plot-modal__status span.free{color: #00FF26;}
	.plot-modal__status span.sold{color: #FF0000;}
	.plot-modal__status span.reserved{color: #a3810a;}




  .plot-modal__price{color: #2B2B2B;font-size: 24px;font-weight: 600;}



  .modal__btn{ display:flex; width:100%;  border:none; border-radius:0; cursor:pointer; background: #435E9D;height: 46px; align-items: center; justify-content: center; color: #FFFFFF; font-size: 14px;}
  .modal__btn:hover{ background:#24397a; }
	.modal__title{font-weight: 600;font-size: 24px;line-height: 1.3;color: #2B2B2B;}





  .legend{ margin:14px auto 0; display:flex; flex-wrap:wrap; gap:14px; position: absolute; top: 40px; left: 0; width: 100%;}
	.legend__wrap{background: #FFFFFF; border-radius: 5px; padding: 10px;display: flex; gap: 15px;    width: max-content;}
  .legend span{ display:inline-flex; align-items:center; gap: 15px; color: #2B2B2B; font-size: 14px;}
  .legend i{ width:40px; height:25px; display:inline-block; }
.plot-map__legend .container{margin: auto;}

.plot-label{ font-size:20px; font-weight:800; letter-spacing: -0.03em; fill:#ffffff; paint-order:stroke; /*stroke:rgba(0,0,0,.45);*/ stroke-width:2.5px; stroke-linejoin:round; text-anchor:middle; dominant-baseline:middle; pointer-events:none; user-select:none; }
.plot-infra-icon{ pointer-events:none; }



.av-benefits{}
	.av-benefits__list{display: flex; gap: 20px; flex-wrap: wrap; padding-bottom: 70px;}
		.benefits-item{width: 18.64%; max-width: 230px;}
			.benefits-item__text{font-size: 16px; color: #213052; font-weight: 500; letter-spacing: -0.03em; padding-top: 20px;line-height: 1.2;}

.gallery__slider{}
	.gallery__slider .swiper-slide{height: 400px;}
	.gallery__slider .swiper-slide img{width: 100%; height: 100%; object-fit: cover;}

.av-territory{padding-top: 90px;}
	.av-territory__slide{position: relative; height: 550px; background-size: cover !important; display: flex; gap: 20px;justify-content: space-between; align-items: flex-end; padding: 80px 96px 70px 60px; }
	.av-territory__slide::before{content: ''; background: rgba(0, 0, 0, 0.6); position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
		.av-territory__info{max-width: 500px; position: relative;}
			.av-territory__title{color: #FFFFFF;font-weight: 500;letter-spacing: -0.03em;font-size: 36px;padding-bottom: 24px; line-height: 1.2;}
			.av-territory__text{color: #FFFFFF;font-size: 16px;line-height: 1.4;}

.av-territory__wrap{position: relative;}
	.av-territory__box{position: absolute; bottom: 70px; right: 96px; width: 320px; height: 364px;}
		.av-territory__thumb{height: 320px;}
		.av-territory .swiper-pagination{display: flex; gap: 9px; justify-content: center; width: calc(100% - 48px); margin: auto 24px;}
		.av-territory .swiper-pagination-bullet{opacity:1; background:#fff; width: 10px; height: 10px;    outline: 1px solid transparent; outline-offset: 3px;}
		.av-territory__nav{display: flex; justify-content: space-between; align-items: center; height: 24px;position: absolute;bottom: 5px; left: 0; right: 0;}
		.av-territory .swiper-pagination-bullet.swiper-pagination-bullet-active{outline: 1px solid #fff; }
		.av-territory__nav .swiper-button-next, 
		.av-territory__nav .swiper-button-prev{width: 24px; height: 24px; margin: 0; padding: 0;}
		.av-territory__nav .swiper-button-next:after, 
		.av-territory__nav .swiper-button-prev:after{display: none;}
		.av-territory__nav .swiper-button-prev{background: url('data:image/svg+xml,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.41016 10.59L2.83016 6L7.41016 1.41L6.00016 0L0.000156403 6L6.00016 12L7.41016 10.59Z" fill="white"/></svg>') no-repeat center center;left: 0; bottom: 0; top: auto;}
		.av-territory__nav .swiper-button-next{background: url('data:image/svg+xml,<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 10.59L4.58 6L0 1.41L1.41 0L7.41 6L1.41 12L0 10.59Z" fill="white"/></svg>') no-repeat center center; right: 0; bottom: 0; top: auto;}
		.av-territory__nav .navigation, .av-territory__nav .pagination{margin: 0;}


.av-payments{}
	.av-payments__title{color: #151515;letter-spacing: -0.03em; font-size: 48px; font-weight: 500; max-width: 800px;line-height: 1; padding-bottom: 50px;}
	.av-payments__wrap{display: flex; gap: 32px;}
		.av-payments__info{max-width: 500px; display: flex; flex-direction: column; gap:40px}
			.payment{padding-left: 60px; position: relative;}
				.payment__icon{position: absolute; width: 40px; height: 40px; top: 0; left: 0; display: block;}
				.payment__ttl{letter-spacing: -0.03em; font-weight: 500; color: #213052; font-size: 20px;line-height: 1.2; padding-bottom: 10px;}
				.payment__txt{color: rgba(0, 0, 0, 0.8);font-size: 14px;line-height: 1.3}
		.av-payments__photos{position: relative; display: flex;gap: 34px;}
		.av-payments__photos::after{content:''; background: rgba(67, 94, 157, 0.2);width: 705px; height: 276px; position: absolute; bottom: -30px; left: 35px;}
			.av-payments__photo{position: relative; z-index: 2;}


.av-partners{padding-bottom: 109px;}
	.av-partners__title{color: #151515;letter-spacing: -0.03em;font-size: 36px;font-weight: 500;line-height: 1; padding-bottom: 40px;}
	.partners__slider{}
		.partners__slider .swiper-slide{border: 1px solid rgba(67, 94, 157, 0.2);height: 140px; display: flex; align-items: center; justify-content: center;}
		.partners__slider .swiper-slide img{max-width: 100%;max-height: 100%;}


.av-about{}
	.av-about__wrap{display: flex; gap: 30px; align-items: stretch;}
		.av-about__img{background: url(/img/about1.png)#435E9D no-repeat center center; display: flex; align-items: flex-end; justify-content: center; max-width: 600px;background-size: cover;}
		.av-about__info{background: #DCE1EF; padding: 44px 40px; width: 50%; display: flex; flex-direction: column; justify-content: flex-end;}
			.av-about__title{font-weight: 500;font-size: 48px;letter-spacing: -0.03em;color: #435E9D;line-height: 1; padding-bottom: 30px;}
			.av-about__text{font-size: 16px;color: #2B2B2B;line-height: 1.4;}
.av-about__list{padding-top: 40px; display: flex; gap: 25px; align-items: stretch;}
.item-box{border: 1px solid #D9DFEB;padding: 20px; transition: all 0.3s; width: 25%;}
	.item-box__icon{width: 56px; height: 56px;}
	.item-box__text{padding-top: 20px; letter-spacing: -0.03em;color: #213052;font-size: 16px;font-weight: 500;line-height: 1.2}
	.item-box:hover{background: #435E9D; border-color: #435E9D;}
	.item-box:hover .item-box__icon svg path{fill:#fff}
	.item-box:hover .item-box__text{color:#fff}

.av-contacts{}
	.av-contacts__wrap{display: flex; gap: 20px;justify-content: space-between;}	


.av-contacts__info{width: 60%;}
	.av-contacts__address{display: flex; gap: 30px; justify-content: space-between; padding-bottom: 35px;}
		.address-item{width: 50%;}
			.address-item__title{letter-spacing: -0.03em;font-weight: 500;font-size: 20px;color: #213052;line-height: 1.2; padding-bottom: 12px; }
			.address-item__text{color: rgba(0, 0, 0, 0.8);font-size: 14px;line-height: 1.3;}
	.av-contacts__text{color: rgba(0, 0, 0, 0.8);font-size: 12px;line-height: 1.3; padding-left: 14px; position: relative; }
	.av-contacts__text::before{content:''; background: #435E9D; width: 4px; height: 100%; position: absolute; top: 0; left: 0;}
.av-contacts__docs{margin: 35px 0 40px; gap: 15px; display: flex;}
	.docs-btn{border: 1px solid #435E9D; padding: 10px 15px; position: relative;color: #435E9D;font-weight: 500;line-height: 1.2; letter-spacing: -0.03em;font-size: 15px; display: flex; align-items: center; justify-content: center; gap: 10px; width: max-content; transition: all 0.3s;}



	.docs-btn:before{content:''; background: url(/img/doc-b.svg) no-repeat; width: 25px; height: 25px; display: block;}
	.docs-btn:hover:before{background: url(/img/doc-w.svg) no-repeat;}
	.docs-btn:hover{background: #435E9D; color: #fff;}

	
.modal .form-control{border:0; border-bottom: 1px solid rgba(67, 94, 157, 0.49); height: 46px; background: #FFFFFF; padding: 0px 12px;font-size: 14px;line-height: 1.3;color: #2B2B2B; width: 100%;}
.modal .form-control::placeholder{font-size: 14px;line-height: 1.3;color: #2B2B2B;opacity: 0.5;}
.error-text{display: none;font-size: 14px; color:#EF0B0B}
.modal .form-group{margin-bottom: 13px;}
.form__policy label{font-size: 14px;color: rgba(43, 43, 43, 0.8);line-height: 1.3;}

.form__policy label span{display: block;}